{% extends "base1.html" %}
{% load staticfiles %}

{% block title %}My Profile |Thapar University{%  endblock %}

{% block head %}
    <meta charset="UTF-8">

    <link href="{% static 'css/home.css' %}" rel="stylesheet">

    
{% endblock %}


{% block body %}


<div class="row">

<div class="col-xs-7 col-xs-offset-1">
<p style="font-weight:normal;text-decoration:underline;color:#000000;letter-spacing:0pt;word-spacing:2pt;font-size:26px;text-align:left;font-family:georgia, serif;line-height:1;">{{ request.user.username }}</p>

<hr>
<br>
<p style="font-weight:normal;color:#000000;letter-spacing:-1pt;word-spacing:2pt;font-size:20px;text-align:left;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;">EMAIL : {{ request.user.email }}</p>
<p style="font-weight:normal;color:#000000;letter-spacing:-1pt;word-spacing:2pt;font-size:20px;text-align:left;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;">DATE JOINED : {{ request.user.date_joined }}</p>
<p style="font-weight:normal;color:#000000;letter-spacing:-1pt;word-spacing:2pt;font-size:20px;text-align:left;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;">LAST LOGIN : {{ request.user.last_login }}</p>


<br><br><br><br>

<a href="{% url 'account_change_password'%}"> Change Password </a>




</div>
<div class="col-xs-2 col-xs-offset-1">




</div>


<div class="col-xs-2 col-xs-offset-1">
<div class="cont" style="background-color: #FFFACD; height: 400px; text-align: center; border-style: solid; border-color: #f1a552;">
<br>
<div class="cont" style="background-color: #FFFACD; height: 350px; margin-left: 5%; margin-right: 5%; text-align: center;">

{% if user.is_authenticated %}
<img src="{% static 'img/user.png' %}" class="img-responsive center-block" >

<small>{{ user.username }} </small>
<hr>
<a href="{% url 'ownprofile' %}"> <span class="glyphicon glyphicon-user"></span>&nbsp;My Profile </a> |&nbsp; 
              <a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out</a> 
              <hr>

              <a href="{% url 'myques' %}" ><span class="glyphicon glyphicon-th-list"></span> My Questions </a>
              <hr>
                {% else %}
                
                <a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;SIGN IN</a>
                <hr>
                <a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-glass"></span>&nbsp;REGISTER</a>
                <hr>
                {% endif %}
                <a href="{% url 'query' %}" ><span class="glyphicon glyphicon-bullhorn"></span> Ask Question </a>
                <hr>
                {% if not user.is_authenticated %}
                <h3 style=" margin: 50px auto;
  text-align: center;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  color: #333;
  opacity: 0.4;
  font: 700 30px 'Bitter';">  Make Effort To ASK </h3>
{% endif %}
 </div>
</div>


</div>
</div>
</div>

</div></div>
{% endblock %}